[Unit]
Description=Socket Server task
After=network.target

[Service]
ExecStart=/home/ahmed_osama/cpptest/socket_using_cpp/Server/Server
WorkingDirectory=/home/ahmed_osama/cpptest/socket_using_cpp/Server
StandardOutput=inheret
StandardError=inherent
Restart=always
RuntimeMaxSec=60
User=ahmed_osama


[Install]
WantedBy=multi-user.target
