[Unit]
Description=Socket Server task
After=network.target

[Service]
ExecStart=/home/a-osama/Desktop/server
WorkingDirectory=/home/a-osama/Desktop
StandardOutput=inheret
StandardError=inherent
Restart=always
User=root
Group=root
AmbientCapabilities=CAP_NET_BIND_SERVICE
RestartSec=5
User=a-osama


[Install]
WantedBy=multi-user.target